.odezdaMain{
    width: 100%;
    height: 100%;
    display: flex;
}
.mainContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 40px;
    left: 0;
    right: 0;
    flex-direction: column;
}

.backButton{
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    margin: 1em;
    background-color: rgba(76, 0, 130, 0.349);
    border-radius: 20px;
    border: solid 1px indigo;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: fixed;
}

.table{
    display: flex;
    flex-direction: column;
}