@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Science+Gothic:wght@100..900&display=swap');
*{
    font-family: "Science Gothic", sans-serif;
}
.Techmain{
    display: flex;
    width: 100%;
    height: 100%;
}
.back{
    background-color: cadetblue;
    color: black;
    border-radius: 20px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: flex;
    z-index: 100;
    position: fixed;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    margin-top: 15px;
    font-size: 40px;
    left: 0;
    right: 0;
}

.tablelist{
    padding: 20px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-left: 45%;
}
.tablelist button{
    background-color: cadetblue;
    color: white;
    border-radius: 20px;
    padding: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}