.Techmain{
    display: flex;
    margin: 0 auto;
}
.back{
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}