@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Science+Gothic:wght@100..900&display=swap');
.Techmain{
    font-family: "Science Gothic", sans-serif;
    display: flex;
}
.back{
    background-color: cadetblue;
    color: black;
    border-radius: 20px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: flex;
    z-index: 100;
    position: fixed;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    margin-top: 15px;
    font-size: 40px;
    left: 0;
    right: 0;
}
